<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarUsuario(input.value)" type="text" class="form-control" placeholder="Buscar usuario...">

            </div>
        </div>
    </div>
</div>

<div class="row  animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row  animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios registrados ( <small>{{totalRegistros}}</small> )</h3>
                <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th>Rol</th>
                                <th>Auth</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor='let usu of usuario'>
                            <tr>
                                <td class="w70">
                                    <img (click)="mostrarModal(usu._id)" [src]="usu.img | imagen" class="w50 img-circle pointer">
                                </td>
                                <td>{{usu.email}}</td>
                                <td>{{usu.nombre}}</td>
                                <td>
                                    <select [(ngModel)]="usu.role" name="role" class="form-control">
                                        <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                                        <option value="USER_ROLE">USER_ROLE</option>
                                    </select>
                                </td>
                                <td>
                                    <label *ngIf="usu.google" class="label label-danger">Google</label>
                                    <label *ngIf="!usu.google" class="label label-info">Normal</label>
                                </td>
                                <td>
                                    <button (click)="guardarUsuario(usu)" class="btn btn-primary">
                              <i class="fa fa-save"></i>
                            </button>
                                    <button (click)="borrarUsuario(usu)" class="btn btn-danger">
                              <i class="fa fa-trash-o"></i>
                            </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="cambiardesde(-5)" class="btn btn-secundary">
                  <i class="fa fa-caret-square-o-left"></i>
                  Anteriores
                </button>
                <button (click)="cambiardesde(5)" class="btn btn-secundary">
                  Siguientes
                  <i class="fa fa-caret-square-o-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>